<style>
dl > dd, dt > ul { margin-left: 2em; }
ul > li { list-style-type: disc; }
</style>
<%# default partial to display solr document documents in catalog show view -%>
<% if document.is_a?(Hash) || document.is_a?(Blacklight::Document) %>
  <dl class="dl-horizontal dl-invert">
    <% document.each_pair do |k, v| %>
      <dt class="blacklight-<%= k.parameterize %>"><%= k %></dt>
      <dd><%= render partial: 'show_default', locals: { document: v } %></dd>
    <% end -%>
  </dl>
<% elsif document.is_a?(Array) %>
  <ul>
    <% document.each do |v| %>
      <li><%= render partial: 'show_default', locals: { document: v } %></li>
    <% end -%>
  </ul>
<% else %>
  <%= document %>
<% end %>

<%= render partial: 'document_hierarchy', locals: { document: document } if document.respond_to?(:hierarchy) && document.hierarchy %>
