<%= render template: 'atoms/meta/_head'  %>
<%= render partial: 'shared/ajax_modal' %>

<div id="main-container" class="container">

	<%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

	<div class="row"><%= yield %></div>


<%
=begin %>
	
	<%= render :partial => 'shared/header_navbar' %>
	
<%
=end %>
	
	
</div>

<%= render :partial => 'shared/footer' %>
<%= render template: 'atoms/meta/_foot'  %>


</body>
</html>
